.form-inline > * {
   margin:5px 3px;
}

#calendarMap{
}
/* Settings buttons */
.btn-settings{
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.btn-settings .btn{
  margin-right: 0.25em;
}

/* breadcrumbs */
.breadcrumb-settings{
  margin-bottom: 0;
}
/* dataTables */
.dataTables_filter {
   width: 50%;
   float: right;
   text-align: right;
}

div.dataTables_wrapper div.dataTables_length label {
  display: flex;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length select{
  width: 4em;
}

div.dataTables_wrapper div.dataTables_filter label{
  display: flex;
  white-space: nowrap;
}

.pagination {
   float: right;
   text-align: right;
}

div.dataTables_wrapper div.dataTables_length label {

}

/* Tables */

.table-responsive {
  /* margin: -1em; */
}

table td:last-child{
  display: inline-flex;
}

/* Button */
.btn-info{
  margin-right: 0.2em;
}

/* For sticky footer */
footer {
    box-shadow: 0px 500px 0px 500px #343a40;
}
